html, #root, body {
  height: 100%;
  width: 100%;
}

.WheelComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

/* On screens that are 992px or less */
.wheel {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: honeydew;
  overflow: hidden;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 150px solid transparent;
}

span {
  margin-left: 60px;
}
