.App {
  text-align: center;
  background-color: #fffc48;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Poppins;
}

.scoreboard {
  text-align: left;
}

.nameerror {
  margin: 10px;
}
