.App {
  text-align: center;
  font-family: Poppins;
  background: rgb(249,237,52);
  background: linear-gradient(180deg, rgba(249,237,52,1) 66%, rgba(230,192,36,1) 100%); 
  min-height: 100vh;
}

body {
  /* background-color: #fffc48; */
  background-color:rgb(249,237,52);
  box-sizing: border-box;
  
}

.scoreboard {
  text-align: left;
}

