.App {
  text-align: center;
  font-family: Poppins;
}

body {
  min-height: 100vh;
  /* background-color: #fffc48; */
  background: rgb(249,237,52);
  background: linear-gradient(180deg, rgba(249,237,52,1) 66%, rgba(230,192,36,1) 100%); 
  
}

.scoreboard {
  text-align: left;
}

